//about
.hero {
    background-image: url(../img/bg_welcom.jpg);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

.section.about {
    transform: translateY(-180px);
    height: 100vh;
    min-height: 840px;
    margin-top: 0px;
    color: #474b57;
}

.section.map {
    min-height: 835px;
    background-color: #4369aa;
}